<ion-content [fullscreen]="true">
  <h2 id = "text"> Create your account </h2>
  <ion-card id = "black">
  <img id = "pfp" src ="https://lh3.googleusercontent.com/xdd82fZ39lAEt4jW5LRwGYlWZt7mcn0-0lyOBNBio57upKBY9fZ58Aqgwa7QLMFTX0gjQwwirXopAjnZZAD2M48Umw7zxDvR3wPBxZnT4cb33uuFT5KdD6zy5-mwQs_aSZh4YS4oNg=s135-p-k"/>
  </ion-card>
  <hr id = "whiteLine"> 
  <p id = "header"> personal information </p>
  <p id = "description"> First Name </p>
  <ion-card id = "infoBox"> 
    <img id = "icon" src = 'https://lh3.googleusercontent.com/dbVllkM-ytaRuLfRQ9fiodUgy1bF16JEc09JS-tV_JaI467SLp47fQT7raE1-ZT2zF1usEWhwgoVDeydA30CRB0o-Q46H3yLjznNWP_YYjugZzOXivbX6jb5Ep3vZywtKD0cBOpbQg=s19-p-k' />
  </ion-card>
  <p id = "description"> Last Name </p>
  <ion-card id = "infoBox"> 
  </ion-card>
  <p id = "description"> Gender </p>
  <ion-card id = "infoBox"> 
    <img id = "icon" src = 'https://lh3.googleusercontent.com/LicL6hURGgQMdzEvCt4YF171dL65kWqPit3PfIkw2UrhOBztG06PnQWH2MKnIqnY_v2nnhjFPBXaN34gq7sFGE2EptrlDc__4KxNLMzXiWeGwcmGOoPuUA6iyCKI9rbq8zig6wVcdA=w2400' />
  </ion-card>
  <p id = "description"> Bio </p>
  <ion-card id = "infoBox"> 
    <img id = "icon" src = 'https://lh3.googleusercontent.com/QImXTqjJLJyHNk50JeXumH8wevbF69XY3GBrxpaBcWOiuPTbiCUL6WOzP8DH9o5MtdI9KpaKRJuZaqD_nhl-I085JHCy2j5jdQZpPgUZB4sLV4Lo9vzD9WsaARYaiIAV8uGJu4RGlw=w2400' />
  </ion-card>
  <p id = "description"> Username </p>
  <ion-card id = "infoBox"> 
    <img id = "icon" src = 'https://lh3.googleusercontent.com/_BiUyTdjRbqmGThETwB59JS2vyeruUc3bbaHn6u4NTlv5Kgm7jsnzsHeiuYo-s0peCtkGlEtovj1NlVaTtPYFMm4zOK-lXAO5aqmU90dVUiQCD-6vTqfweinouPUyrUEGsDoxWyDgA=w2400' />
  </ion-card>
  <p id = "description"> password </p>
  <ion-card id = "infoBox"> 
    <img id = "icon" src = 'https://lh3.googleusercontent.com/9CCW0yO4NyZUCXOsepf3lTOETal5rsrVfBMJpopsDjwAjENQjgrPPShK5euhhU9BuDneheV_64-Y8fDSQSEj4QzmmXQKcV7VL1LRIfOq4gb8GdItNrrJh5rzKLJehF9z3KVVQlhfvg=w2400' />
  </ion-card>
  <hr id = "whiteLine2"> 
  <p id = "header2"> Player information</p>
  <p id = "description2"> Sport you Play </p>
  <ion-card id = "infoBox2"> 
    <img id = "icon" src = 'https://lh3.googleusercontent.com/DVKFP5VIR7yEJQjGp9438xh9_P78J-SrON_EqXgB-_39SkcYkrmlVNX1IWxGO49qW0ABeqGvBPUAlgyZMHLaz9G-Ly73Edc27mmWNDxlQEKKN5Tx4f8jWiBIBZ5CwGTvbSG3tT10Dw=w2400
    ' />
  </ion-card>
  <p id = "description2"> Age </p>
  <ion-card id = "infoBox2"> 
    <img id = "icon" src = 'https://lh3.googleusercontent.com/40xfqN6H6vw0FOVt95So6L1ldzEbIAXT8N6H2rO8C63ozVLVB8hT_3sallrJjDOCisjCGQajikeXZJGZF1idlCnPBHYCIESdWX4xMGrZ_O2Gck3MkGd3AeyZrfaQU_OtuJzD722h7w=w2400' />
  </ion-card>
  <p id = "description2"> Height </p>
  <ion-card id = "infoBox2"> 
    <img id = "icon" src = 'https://lh3.googleusercontent.com/5COMd6YUUYyfOAG9KIH2l2I5nBkopJktkLBMu6ufwzOvGZo_3lXcnNPOTwGxSF0G1vJsEX1yVWEmLU-X3Z3g2EOYCSFaeI5rUr0GKBNGVZHzCaTXqu-2k99MVhw58H70G05UcL2sXA=w2400' />
  </ion-card>
  <p id = "description2"> School Attending </p>
  <ion-card id = "infoBox2"> 
    <img id = "icon" src = 'https://lh3.googleusercontent.com/Dn-5ZIGigFISFFCnFt4P34gCJX9MKTBpWkqitMo7SVoJdKeR9H9TmY7KOjEfXWeT96PCoye2LPP0WAGlfIdVB8RaZKOt5tPB-S1MBelYllGZMWtLh8Dt8V9-jPW97SU8pmK1KIU7Ig=w2400' />
  </ion-card>
  <p id = "description2"> Position </p>
  <ion-card id = "infoBox2"> 
    <img id = "icon" src = 'https://lh3.googleusercontent.com/oyNDWXzq1cJktyqlxNmU0lNh6jR1kHKFbGesHfyzAY6RAy9I4FzWLHgh4uhi_cgtodwWHsuN0aAKGAFhi0rd4M0lHFxiVMELynRFIAqoxcBXHmQ9E2Tj00CcdSZtVIvE6EL_j7Wugg=w2400' />
  </ion-card>
  <p id = "description2"> Weight </p>
  <ion-card id = "infoBox2"> 
    <img id = "icon" src = 'https://lh3.googleusercontent.com/31mtoX--bE895oSV__WO2OBMnRzFywxljC1bvOy9jTWL8OJfSQP5Nqi53Scp2M4ydfyBo6UmWISABS4w7WhSw6T2ytDIVzDxqJVF6gQOAMIrlK8Ph1cHFmKpa_tIYr8oaYLRA2BjyQ=w2400' />
  </ion-card>
  <p id = "description2"> Time Played </p>
  <ion-card id = "infoBox2"> 
    <img id = "icon" src = 'https://lh3.googleusercontent.com/ZHfegxmmtJ0dtkVZzoUyA5u6h_S98NwevN0H45Vh8gSQTHCwzLUh74Li_ePXP5cOoK3oLOuODv2MwGBr0s5fc0rIKTuYCFTREZtfKFiqQXUj-vsahLBlWUOmKofCwox4vjT9E06Qvg=w2400' />
  </ion-card>
  <p id = "description2"> Points Scored </p>
  <ion-card id = "infoBox2"> 
    <img id = "icon" src = 'https://lh3.googleusercontent.com/scSfd0BdupwXBq17gzvZLjiklx3C2GgaVPPg-H40lRZ4DEBr-zfsA5Uc1IaG75EezLJKjQwWEcNExBIfmNYEaDKbSlKKZaNnlFL31CrFRMcq5G8eB0Em4ZjJh_cXWr4MhSHNyRm9kw=w2400
    ' />
  </ion-card>
  <p id = "description2"> Games Played </p>
  <ion-card id = "infoBox2"> 
    <img id = "icon" src = 'https://lh3.googleusercontent.com/vkgc1hGl9LxQEhFzaNZcq4BQzdwyv89OQS2DuOWvgofW-ZyTGt7I8Eu-5D00lpIzrH__KbYSeNZlotm5VJQHp9Qg76TvlKO0BdgwkrtaccWH7ciXzgC9Rs4RsoMNeMUX4GTeZLkJiA=w2400
    ' />
  </ion-card>
  <ion-card id = "login" (click) = "go()"> 
  <h1 id = "loginText"> login </h1>
</ion-card>
  
<ion-card id = "logo">
<img src ="https://lh3.googleusercontent.com/myUgFzPDC4uWZ-_8FqXu1CdKim8qnEMu6KGIAxK7J4DuxCPv-8P8MqUhb1D0uBENcSF6pFq-9Q5BnfFHF57g5qPc6yCdFmBXECyFQ82t5g2Svgonpn2AedlqynxvcNObLlU5dMLLyQ=w2400"/>
<ion-card>