<ion-content [fullscreen]="true">


<ion-card id = "username"> 
  <img id = "icon" src ="https://lh3.googleusercontent.com/zItHqm_Ufigaqr9fy95Z8Ox_N-C-MPSyLKQDgdqFoQZxk0WNk-vnCT-VzKqEFNvExEV4uxWTfn7TgxieNIAYv4Z0ZTMTZc6xPeBsMLsbVETsH43sYDJt15GOL-XqNPiDxj4GqLJ9Aw=s37-p-k"/>
  <ion-textarea id = "text" placeholder = "username"></ion-textarea>
</ion-card> 

<ion-card id = "username"> 
<img id = "icon2" src ="https://lh3.googleusercontent.com/LMhJIZeBaWghIMFQ3V26DyaPgpo70nbQiP2g9HRmEgVErEmnTXkdZMYyeidICb7WDAfuOhqevu4I624XyMebAO1u58wRlYyZZlijQYgbDWa7TO44nzqHwal8GU2oZ23Cbf71jzRZog=w2400"/>
<ion-textarea id = "text" placeholder = "password"></ion-textarea>
</ion-card>

<p id = "random"> Dont have your account yet?</p>
<p id ="underline" (click) = "go()">Sign Up</p>

<ion-card id = "login"> 
  <h1 id = "loginText"> login </h1>
</ion-card>
<ion-card id = "logo">
<img id = "logopic"  src ="https://lh3.googleusercontent.com/myUgFzPDC4uWZ-_8FqXu1CdKim8qnEMu6KGIAxK7J4DuxCPv-8P8MqUhb1D0uBENcSF6pFq-9Q5BnfFHF57g5qPc6yCdFmBXECyFQ82t5g2Svgonpn2AedlqynxvcNObLlU5dMLLyQ=w2400"/>
</ion-card>