<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>


  <h1 id="title"> Athletes </h1>

  <ion-searchbar id="searchbar" [(ngModel)]="searchText"></ion-searchbar>
  <div class="scrolling-wrapper">
    <ion-card id="basketball" (click)="filterData('basketball')">
      <img id="bask" src = "https://lh3.googleusercontent.com/97guHOY4UDMqlBySIgsKs-aQSqsqymjJ2NE7ndRSQe6Vyo6uFrAKCsqH5X7HVvCRraINjUZ3sTPCb1b0_nytqD4edn0ozXthhevnznp9tCuOhFYgwVfxnj3XHtKdherwdct28aCzNQ=w2400" />
    </ion-card>

    <ion-card id="football" (click)="filterData('football')">
    <img id="bask" src = "https://lh3.googleusercontent.com/NJdrxXxa11zg4pq05fsXSqWzDBCIqhNMv9HjI7s1QDQHratBCzobwxzNphgv4vMUIucgI9A7WBJv7jU2ARVbkKycI2QOXscnrKOIHacUf7BcEI0ZzAYLZ3S7v86CH36OK2MVLW3UKQ=w2400" />
    </ion-card>

    <ion-card id="soccer" (click)="filterData('soccer')">
    <img id="bask" src = "https://lh3.googleusercontent.com/1od-6cKnsuJowFfxIjnuutAK_w_z93DRqhcGONZwbmP4aZRIzTZVAeST6ot4p2SD_GURf_zEbOMMSiuI3bHtFojhuGyS0BVuEMW_C655fxARnvPp9K0k2HxV4USL7F7l5Aly1KrByg=w2400" />
    </ion-card>

    <ion-card id="baseball" (click)="filterData('baseball')">
    <img id="bask" src = "https://lh3.googleusercontent.com/a77BZIXBrnBVlWRzSxFRxJ4vZjxH9jtv-uxVS-lLN_sO-7wE9Mh3gzVUaLCGrFU_y1O-TH5w-ZU_yX-U4H6KORQ7W5Ii6JVa4ThGBq_zG9U894rrLX_utNTMhzdzENJlbmK2-Qy5VA=w2400" />
    </ion-card>

    <ion-card id="volleyball" (click)="filterData('volleyball')">
    <img id="bask" src = "https://lh3.googleusercontent.com/1oMEUs8ESpc_QQ3A-ysLd4_qvhWnN_imx7HpigAJOFPP9SS5iuC0jaiOOBx53j11kDFrr8rQOovvlM7dP6cUOO6NWpAkC8317MYVGYiCqzrZfWNvvwqQ4ImCQ9MM0xujz75_4lfe2A=w2400" />
    </ion-card>
  </div>

  <div id="titleDiv">
    <p id="topTitle"> Underatted Athletes</p>

    <ion-button (click)="goo()" id="question"> FAQS </ion-button>
  </div>

  <ion-card id="player" *ngFor=" let player of modifiedData | filter:searchText" (click)="go()">
    <ion-card-title id="playerName"> {{ player.name }}</ion-card-title>
    <img id = "profile" [src] = "player.image" />

  </ion-card>

</ion-content>