ion-content{
  --ion-background-color: black;
}
#title{
  color:#7D82B8;
  text-align: center;
  text-decoration: underline;
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 56px;;
}
#search{
  --ion-background-color: white;
  position: relative;
  width: 361px;
  height: 48px;
  top: -300px;
  background: #FFFFFF;
  border: 5px solid #000000;
  box-sizing: border-box;
}

#popupB{
  width: 97px;
  height: 84px;
  position:relative;
  top:120px;
  left:5px;
  z-index: 1;
  background: #FFFFFF;
  border-radius: 8px;
  
}
#popupF{
  width: 97px;
  height: 84px;
  position:relative;
  top:26px;
  left:120px;
  z-index: 1;
  background: #FFFFFF;
  border-radius: 8px;
}
#popupS{
  width: 97px;
  height: 84px;
  position:relative;
  top:-68.5px;
  left:236px;
  z-index: 1;
  background: #FFFFFF;
  border-radius: 8px;
}
#popupBase{
  width: 97px;
  height: 84px;
  position:relative;
  top: -163px;
  left:352px;
  z-index: 1;
  background: #FFFFFF;
  border-radius: 8px;
}
#popupV{
  width: 97px;
  height: 84px;
  position:relative;
  top:-258px;
  left:465px;
  z-index: 1;
  background: #FFFFFF;
  border-radius: 8px;
}
#bask{
  position: relative;
  width: 60px;
  height: 60px;
  top: 10px;
  left: 20px;
}

ion-button{
  width: 187px;
  height: 38px;
  --background: #7D82B8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  position:relative;
  right:2px;
}

#player{
  position: relative;
  width: 163px;
  height: 199px;
  left: 24px;
  top: -500;
  background: #C4C4C4;
  border-radius: 10px;
}
#playerName{
  position: relative;
  width: 189px;
  height: 30px;
  left: 0px;
  top: 170px;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  color: #231F20;
}
#likes{
  width: 200px;
  height: 47px;
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
  color: #000000;
  position:relative;
  left: 20px;
  top:50px;
}
#followers{
  width: 500px;
  height: 47px;
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
  color: #000000;
  position:relative;
  left: 120px;
  bottom:-2.5px;
}
#profile{
  // position: relative;
  width: fit-content;
  height: fit-content;
}
#searchbar
{
  --ion-background-color: white;
  position: absolute;
  top: 122px;
}
.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;

  .card {
    display: inline-block;
  }
}
.scrolling-wrapper {
  -webkit-overflow-scrolling: touch;
}
.scrolling-wrapper {
  &::-webkit-scrollbar {
    display: none;
  }
}
.scrolling-wrapper-flexbox {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;

  .card {
    flex: 0 0 auto;
  }
}