<ion-content [fullscreen]="true">


  <ion-card id="header">

    <ion-card-header>
      <img id = "profile" src ="https://lh3.googleusercontent.com/JBvW05LXlSxmielTvFOdsGoeA8gNzVct1GL39Hr1b8GZJKWAjj-xDw5BhuO-5UVFLlzkEchCQbQw_KMHE_0-U4FERWnxNrFcQ68JMwyR7OfzQb97W6MTqvPmTeZzj3bxy3y5JvqnGQ=s35-p-k"
  />
      <ion-card id="scope" (click)="stats()">
        <P id="scopeText"> Scope </P>
      </ion-card>
      <ion-card-subtitle id="profileName">Diego Maradona</ion-card-subtitle>
      <p id="postTitle"> Highlight Reel 2021 </p>
    </ion-card-header>

    <img id = "post" src = "https://lh3.googleusercontent.com/OGySQEiHADgFF5B8G1jgNvP6pUfYYQ5W4iy8bOEhAxAJoOgXcWN3N1rgls1nnImXft6wGhidT188nyXKQCUHMNHndJxU-8PK1-Bh3WvhkwGNHxMhN-CT6JryehY_OBUDwZDD6hPZWw=w2400"
    />


    <ion-icon id="heartIcon" (click)="goo()" [name]="filled ? 'heart-outline' : 'heart'"></ion-icon>

    <ion-icon id="comment" name="chatbubble-outline"></ion-icon>
    <img id = "filter" src ="https://lh3.googleusercontent.com/oJC1Tn9B6UwZSImFNHuWLcFQaWvm-mpgOj-aphY0dH5bccaBRjsmWgSy-1uLWCWaipb6WpPGmANF2q9uCYSV0MexwoQ3L3t01biRY_rBaNNlDnwqAxS0YFs6L3COcamS84ew71D9eA=s225-p-k"
/>
  </ion-card>

  <ion-card id="header">

    <ion-card-header>
      <img id = "profile" src ="https://lh3.googleusercontent.com/1ymn8F720z53T6vZ0Z7YjedxVsr7sjuP_YQpu17fnJb0bpLl8Hbf45Si0bkrYRBUWyW7ds7jFXEUkYtk2KnvIV7LDzp_I8nq_DSiTWIWWnYtiemp007iN1PE7WRV2YTvpsFKQxp0Fw=s35-p-k"
/>
      <ion-card id="scope" (click)="stats()">
        <P id="scopeText"> Scope </P>
      </ion-card>
      <ion-card-subtitle id="profileName">Patrick Holmes</ion-card-subtitle>
      <p id="postTitle"> Highlight Reel 2021 </p>
    </ion-card-header>

    <img id = "post" src = "https://lh3.googleusercontent.com/j66Go4NOit_JdbeTFdoB64kQ-SIEeFR0d2m8USEETVql8807KtHbve4h-h8rdBQVFalvTIUWEvKNHlUa8QcJFVKdasq3KQK2zUHJcSeNzaVo3l2xpJIbFo88pHM9l8vrCaox6c3FVA=w2400"
  />


    <ion-icon id="heartIcon" (click)="goo()" [name]="filled ? 'heart-outline' : 'heart'"></ion-icon>

    <ion-icon id="comment" name="chatbubble-outline"></ion-icon>

  </ion-card>
  <ion-card id="header">

    <ion-card-header>
      <img id = "profile" src ="https://lh3.googleusercontent.com/ADCao5JT7btswU_qzFExTm07cb_z6B5qA4HkU61sjS4DN2ZR7YW5RvR-8S4RLfxsQM-bikfkGIXILiLjjJgNuX3Beg0u07UY3rk4QOdOdWjJ1BGZ3Tm-sjboDAP23gkSMKKL8IYvmQ=w2400"
/>
      <ion-card id="scope" (click)="stats()">
        <P id="scopeText"> Scope </P>
      </ion-card>
      <ion-card-subtitle id="profileName">Gilberto Ramirez</ion-card-subtitle>
      <p id="postTitle"> Highlight Reel 2021 </p>
    </ion-card-header>

    <img id = "post1"  (click) = "gif()" src = "https://lh3.googleusercontent.com/KfEb_eIjZ83KKeRsf-RgKQKaMNGNxyiOIMnI2Ne9_oqcXpK5VN2kRFAOP6tpwYPxMQ_7BMgMdTp8_N7xyzCrPuKVYvpp12JUbg3LyNJ1QZXZF5AJiW307KcmJi0RSDiXDzsIzZ_wxw=w2400" alt="Static Image" data-alt=" https://i.pinimg.com/originals/16/cc/3d/16cc3d909a29f6d5b81fcc9a993fda42.gif" name = "hello">
/>
<ion-icon id = "play"  name="play-outline"></ion-icon>

    <ion-icon id="heartIcon1" (click)="goo()" [name]="filled ? 'heart-outline' : 'heart'"></ion-icon>

    <ion-icon id="comment1" name="chatbubble-outline"></ion-icon>

  </ion-card>