<ion-header [translucent]="true">
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>
  <img id = "banner" src ="https://i.imgur.com/tvmk03W.png"
  />
  <img id = "profile" src ="https://i.imgur.com/Ic0EYpe.png" />
  <p id="username"> username </p>
  <p id="bio"> bio </p>
  <div class="scrolling-wrapper">
    <ion-card id="stats"> 
      <ion-icon id = "icon"name="calendar"></ion-icon>
    </ion-card>
    <ion-card id="stats1"> </ion-card>
    <ion-card id="stats2"> </ion-card>
    <ion-card id="stats3"> </ion-card>
    <ion-card id="stats4"> </ion-card>
    <ion-card id="stats5"> </ion-card>
  </div>
  <ion-card id="stats6"> </ion-card>
  <ion-card id="stats7"> </ion-card>
  <ion-card id="stats8"> </ion-card>