<ion-header [translucent]="true">
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>
  <img id = "banner" src ="https://lh3.googleusercontent.com/2FTYC2tprzDFsMCUym8LSUzdnh1u6-kwxxSiiAnl9OOxTdfGLB31f3dfU5SiIeny5ZF-qTTV1mlAsCx-P565pXr6L8NrHtsQ39o8zeKIrQ6Ymovci0h8noVwBsKPoTu2PsSowVJJtQ=w2400"
  />
  <img id = "profile" src ="https://lh3.googleusercontent.com/nIt0DZ9uf_cikpMkcBZ-xPJ43OahPbufwngwRhSaDPQrCNk6MRuhTw4LiZyxnNc0NcXSJ5UxXMQPkiBUxWV9pnjR6FKhE6vPw12YORBGy44A-gDfVkVJlZFba65lFN6QihlGMpLhAg=w2400" />
  <p id="username"> Juan Guzan </p>
  <p id="bio"> "Sometimes you have to accept you cant win all the time" </p>
  <div class="scrolling-wrapper">
    <ion-card id="stats">
      <ion-icon id="icon" name="calendar"></ion-icon>
    </ion-card>
    <ion-card id="stats1">
    <img id = "icon" src = 'https://lh3.googleusercontent.com/RCadM0rUFkXHd-Ct03LlxaJ5CAWF-rgcCFbLwSTiOR1-M-frQQsy_1qgwmGcSflHb8olRC2jFmlRRtHbaE1Se0KIjzE_U8QPMRGbpwT-cOTUYn0jCFjF7Ofn4s6m6yHzWN9nRlu1Yw=s26-p-k' />
      <p id="topic"> Age </p>
      <p id="answer"> 16 years </p>
    </ion-card>
    <ion-card id="stats2">
    <img id = "icon" src = 'https://lh3.googleusercontent.com/T7opqesn0cY2ixzBaqFZr8Lum2t2usw-ju6ailOkNWRoIQWUHNOvgFualpo5xq_fVmM4sk_Dz_Giyk2J4knuryYZ2e6dE11z-IjcedClEw-grNf3_CbyzplsAKKF94_CCGCBTulCjg=w2400' />
      <p id="topic"> Height </p>
      <p id="answer"> 188cm </p>
    </ion-card>
    <ion-card id="stats3">
    <img id = "icon" src = 'https://lh3.googleusercontent.com/bjCC7MKpXAXeyr1Xq2mjr268ajtLyCE5tOGQHD2mbFMN-88HS0sQn7NEL9WokHpnmSTcDVCxWQSD14RPNeL0UsIbbniKTAJAcNZP0BYHKd8Dit_gIe8EyGtiI6VObKYXLGNqANs0Yw=w2400' />
      <p id="topic"> High School </p>
      <p id="answer"> TXT </p>
    </ion-card>
    <ion-card id="stats4">
    <img id = "icon" src = 'https://lh3.googleusercontent.com/RCadM0rUFkXHd-Ct03LlxaJ5CAWF-rgcCFbLwSTiOR1-M-frQQsy_1qgwmGcSflHb8olRC2jFmlRRtHbaE1Se0KIjzE_U8QPMRGbpwT-cOTUYn0jCFjF7Ofn4s6m6yHzWN9nRlu1Yw=s26-p-k' />
      <p id="topic"> Age </p>
      <p id="answer"> 16 years </p>
    </ion-card>
    <ion-card id="stats5">
    <img id = "icon" src = 'https://lh3.googleusercontent.com/RCadM0rUFkXHd-Ct03LlxaJ5CAWF-rgcCFbLwSTiOR1-M-frQQsy_1qgwmGcSflHb8olRC2jFmlRRtHbaE1Se0KIjzE_U8QPMRGbpwT-cOTUYn0jCFjF7Ofn4s6m6yHzWN9nRlu1Yw=s26-p-k' />
      <p id="topic"> Age </p>
      <p id="answer"> 16 years </p>
    </ion-card>
  </div>
  <ion-card id="stats6">
    <h1 id="bold"> 90 </h1>
    <p id="smallBold"> Minutes Played </p>
  </ion-card>
  <ion-card id="stats7">
    <h1 id="bold"> 10 </h1>
    <p id="smallBold"> Goals Scored </p>
  </ion-card>
  <ion-card id="stats8">
    <h1 id="bold"> 05 </h1>
    <p id="smallBold"> Games Played </p>
  </ion-card>
  <img id = "post" src = "https://lh3.googleusercontent.com/aN56_WZFS5mlNQfD47QGSj8tpplqC-2TFUbwmKjezsmnArMaNW5HM6vXDmzt8UOiLtRHZHyiw4wgOFp-oH6MWfaf2BFexn3w2IeT0LudAGoy5ZK2qX68pG_HIbDS0UejtFejQ7pyCw=s152-p-k" />
  <img id = "post2" src = "https://lh3.googleusercontent.com/5Qokdkrg2anTIrRihu1611GqBYf2RpmbS4voOPsqBQAdwglN4iDSvSGltTdYGwyh6nk-d3NyRIOAQAJSySCHLklaZlTLiP03xmqyhdyLQg0VtvySlIGUyLoiC-ud_mDlymYD_nBU4w=s153-p-k" />

  <img id = "post" src = "https://lh3.googleusercontent.com/5bUAWNcQRU51j3TD2sPSf4RAbsg8yWFfVod0YBh52KXXatlMTWjwZUrplgGJQVK0B1tj0WpBDB0uokCHlDMp_9EVeVM-dquBdOIXHhyojb6OX2qtDCG8grSMjZbeySA1G-UmVVUq-w=s152-p-k" />

  <img id = "post2" src = "https://lh3.googleusercontent.com/pceBzdEd8n1imZh0zpAztvfsp9Vb2EEgaWF5K8KOncDugDqDkWELp_OOXZHp6KvshaXlCyyPt4Ag9x30ydHRgaS3cAtXFr-U9YZGEH0nLEdU8kPwid-Qwzl4BDigDwzRwy52NRu59A=s153-p-k" />

  <img id = "post" src = "https://lh3.googleusercontent.com/C5OLc3R--RYL-UMS-sRgHVSv7JddkG7mtdeKUz21VhB9nnDgx6_Bo6Y6ic-JkE4SOJjDkpg6uoAFFqA-F6buSV_erLD0RiCDXqBH78n9huY5cX2HEvTUm5C3R3EzWUMn1l38wdkPmw=s152-p-k" />

   <img id = "post2" src = "https://lh3.googleusercontent.com/UtmbA3bofHJwOk1fo1hb5Ht8cO_3LDSbHmnEk1G5LOcn8zdP2XjOstm2jCFc73RU3MVpvvFHTdCWdH5FCfcfDuOmQCTRD2RtDRjrscm3MEmIhRuoroGVavyW1FgHUoyfi5TJXx7pVw=s152-p-k" />

<ion-card id = "edit"> <p id = "editText"> edit profile </p> </ion-card>


