<ion-content [fullscreen]="true">

  <h1 id="title">Q&A</h1>
  <ion-card id="box1">

    <p id="text"> If you are good will coaches find you ? </p>
    <ion-icon id="plus" name="add-circle-outline" (click) = 'dropdown(subtext, hiddentext)'></ion-icon>


  </ion-card>
  <ion-card id="subtext">
    <p id = "hiddentext"> Yes, talent is attractive to college coaches but, it's not all that they are looking for. When a coach recruits a player, they are looking for someone who will contribute for 4+ years. If a player is ineligible, they aren't contributing. Coaches put a lot of value in strong academics and character beyond the field. </p>
  </ion-card>
  <ion-card id="box1">

    <p id="text">Can athletes control thier recruitment ? </p>
    <ion-icon id="plus" name="add-circle-outline" (click) = "dropdown(subtext2, hiddentext2)"></ion-icon>


  </ion-card>
  <ion-card id="subtext2" >
  <p id = "hiddentext2"> If you're good, chances are you will be noticed by a coach at SOME program. The problem is, your choices may be limited and you may have to choose between schools you aren't even interested in.  </p>
  </ion-card>
  <ion-card id="box1">

    <p id="text"> Can athletes control thier recruitment ? </p>
    <ion-icon id="plus" name="add-circle-outline" (click) = "dropdown(subtext3, hiddentext3)"></ion-icon>


  </ion-card>
  <ion-card id="subtext3">
  <p id = "hiddentext3"> Sadly, for a long time this was a reality. Athletes were often at the mercy of coaches, sportwriters and word-of-mouth news getting to college coaches. Not anymore.  </p>
  </ion-card>
  <ion-card id="box1">

    <p id="text"> What do coaches look for ? </p>
    <ion-icon id="plus" name="add-circle-outline" (click) = "dropdown(subtext4, hiddentext4)"></ion-icon>


  </ion-card>
  <ion-card id="subtext4" >
  <p id = "hiddentext4"> Coaches will look at their mental and psychological make-up, their mental ability to quickly and correctly read and assess situations, their motivational drive and will power, their self-confidence and emotional stability. </p>
  </ion-card>
  <ion-card id="box1">

    <p id="text"> What should I do to get noticed? </p>
    <ion-icon id="plus" name="add-circle-outline" (click) = "dropdown(subtext5, hiddentext5)"></ion-icon>


  </ion-card>
  <ion-card id="subtext5" >
  <p id = "hiddentext5"> the higher rated you are, the more attention you may get but, many programs actually actively search for lower rated "diamond in the rough" prospects to develop within their program. The key is to get on their radar. Showcase your talent as well as your character.  </p>
  </ion-card>
  <ion-card id="box1">

    <p id="text"> What should I focus on in regards to building up my portfolio? </p>
    <ion-icon id="plus" name="add-circle-outline" (click) = "dropdown(subtext6, hiddentext6)"></ion-icon>


  </ion-card>
  <ion-card id="subtext6">
  <p id = "hiddentext6"> Generally speaking, if you're estimating how much your stock-market investment will return over time, we suggest using an average annual return of 6% and understanding that you'll experience down years as well as up years. </p>
  </ion-card>
  <ion-card id="box1">

    <p id="text"> Are Academics important ? Do I have to have good grades? </p>
    <ion-icon id="plus" name="add-circle-outline" (click) = "dropdown(subtext7, hiddentext7)"></ion-icon>


  </ion-card>
  <ion-card id="subtext7" >
  <p id = "hiddentext7"> your academic profile has become a very important factor in recruiting. Admissions and administration offices are putting more pressure on athletic departments to recruit athletes that succeed once they get into school. </p>
  </ion-card>