<ion-header [translucent]="true">
  <ion-back-button text=""></ion-back-button>

</ion-header>

<ion-header [translucent]="true">
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>
  <img id = "banner" src ="https://i.imgur.com/tvmk03W.png"
  />
  <img id = "profile" src ="https://i.imgur.com/Ic0EYpe.png" />
  <p id="username"> Jesse Garcia </p>
  <p id="bio"> "I get carried by everyone" </p>
  <div class="scrolling-wrapper">
    <ion-card id="stats">
      <ion-icon id="icon" name="calendar"></ion-icon>
    </ion-card>
    <ion-card id="stats1">
      <p id="topic"> Age </p>
      <p id="answer"> 16 years </p>
    </ion-card>
    <ion-card id="stats2">
      <p id="topic"> Height </p>
      <p id="answer"> 188cm </p>
    </ion-card>
    <ion-card id="stats3">
      <p id="topic"> High School </p>
      <p id="answer"> TXT </p>
    </ion-card>
    <ion-card id="stats4">
      <p id="topic"> Age </p>
      <p id="answer"> 16 years </p>
    </ion-card>
    <ion-card id="stats5">
      <p id="topic"> Age </p>
      <p id="answer"> 16 years </p>
    </ion-card>
  </div>
  <ion-card id="stats6">
    <h1 id="bold"> 90 </h1>
    <p id="smallBold"> Minutes Played </p>
  </ion-card>
  <ion-card id="stats7">
    <h1 id="bold"> 10 </h1>
    <p id="smallBold"> Goals Scored </p>
  </ion-card>
  <ion-card id="stats8">
    <h1 id="bold"> 05 </h1>
    <p id="smallBold"> Games Played </p>
  </ion-card>
  <img id = "post" src = "https://lh3.googleusercontent.com/ORTWZthMQcqUNj2mbr2JJ-b4B6dQkhlJ-P3tAWCd0qeO1nGq8qEHuV7qT1hpXX49E5_3BXazEjxLUsM6wVF07rrKiC7JbiYsNIY9TkbcdIEtqdhWQN0-dOKSlm59UcgKJ4LeAApfgw=s152-p-k" />
  <img id = "post2" src = "https://lh3.googleusercontent.com/AFFkyqlxNSMT9FbIQfCNadqqQ3fP_SU9j5hnW8BqsHcRi8hEmWRtBuVxcRwc0lW11q31x2L7fTyafzrhkqr3NMEW3XEyueN5_M2O9AYlfWSG8-8Z0_-s1rYXvnf24OPLlOjJrdIH_g=s152-p-k" />

  <img id = "post" src = "https://lh3.googleusercontent.com/Nt1utJFiG4V1J0DmwqLrd0xeq9V0VxjKcAU68X5qVwUnHJlJaT9nbMYToLQ4EklGbGuEVSmO_V-pCBzx40PaV_pzUZhJUZuonjQNaASOL1zzOsb_qLF5VWnXtu7VEWRm_u7NOyxvpQ=s152-p-k" />

  <img id = "post2" src = "https://lh3.googleusercontent.com/-K44x0R4CgDbf4i8QepI-kj9pAew6cgfvEL3_q2vfTnhLMCPXeVAORZXengVI6Qnb6sRweTMck3KlKrKG10dFPl_LRalgy60S4x4kMs_0-WOlCQGtQnbuWDlEJdCjlKb8Mr2XDg_3A=s150-p-k" />

  <img id = "post" src = "https://lh3.googleusercontent.com/7kFQdqjz9vdoWp-hmTx70L8AMC3bxVhIqgBnTU42WJ9LHjCkuCAM6Dqk0klB3j8zmRdkcazAKADibjhd1YFX-DjkaQzDz8qAuIhorTQRWyfWxyQa-TSFRTDof2L3qRh5AzbB5jD30g=s152-p-k" />

   <img id = "post2" src = "https://lh3.googleusercontent.com/OEYNCwi9wkgZBEpiotj39brGRiHlL0u8vZ8c3GX8EAPJPnBs9inrROmMrV6yxRPsn41_mAY2aAZBwSu-lf1Ol-ZOTEiR0ooNZEIpza5rw1DQtM8QUWnEESV6BGqvv-mjqbprLyzlvw=w2400" />
